@import url('https://fonts.cdnfonts.com/css/calculator');

*{
    padding: 0;
    margin: 0;
    font-family: 'Calculator', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 80vh;
}

.body{
    display: flex;
    flex-direction: column;
    background-color:rgb(170, 184, 197);
    width: 25vw;
    height: 70vh;
    border-radius: 2%;
}

.headerContainer{
    display: flex;
    align-items: center;
    margin-top: 3vh;
    width: 25vw;
    height: 5vh;
}

.header{
    margin-left: 3vw;
    font-size: 2rem;
}

.displayContainer{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    width: 19vw;
    height: 7vh;
    background-color:rgb(0, 0, 0)
}

.display{
    color: white;
    font-size: 3rem;
    margin-right: 2vw;
}


.btnContainer{
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    width: 19vw;
    height: 30vh;
}

.btnFirst,
.btnSecond,
.btnThird,
.btnFourth,
.btnLast{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 19vw;
    height: 9vh;
}

.btnNumber, 
.btnOperator,
.btnClear,
.btnComma{
    font-size: 2rem;
    height: 10vh;
    width: 4.75vw;
}

.btnNumber0{
    width: 9.5vw;
    height: 10vh;
    font-size: 2rem;
}
